/* DWD EXCLUSIVE */

body {
	background: #F7F7F7;
	font-family: 'Roboto', sans-serif;
	color: #929292;
}

main {
	align-items: center;
	padding-top: 15vh;
}

.form {
	margin: auto;
	padding: 60px;
	width: 450px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-shadow: 0px 0px 5px #E5E5E5;
}

.form img {
	width: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#saudacao {
	text-align: center;
	margin-bottom: 40px;
	font-weight: 900;
	font-size: 120%;
	color: #9071E1;
}

.input {
	border-radius: 3px;
	border: 3px solid #E5E5E5;
}

.form-control:focus {
	box-shadow: 0 0 0 0;
    outline: 0;
    border-radius: 2px;
    border-color: #9071E1;
}

label {
	font-weight: 700;
}

.traces {
	margin-top: -10px;
	margin-bottom: 50px;

}

.g {
	position: relative;
	float: left;
	width: 101px;
	height: 8px;
	background: #E5E5E5;
	margin: 4px;
}

.validacoes {
	font-size: 90%;
	font-weight: 500;
}

.validacoes i {
	color: #E5E5E5;
}

.btn {
	margin-top: 25px;
	width: 100%;
	border-radius: 2px;
	font-weight: 900;
	background: #9071E1;
	padding: 8px;
	color: white;
}

.btn:hover {
	color: #929292;
}

@media (max-width: 540px) {

	main {
		padding: 0;
	}

	.form {
		width: 100vw;
	}

	.g {
		width: 18vw;
	}
}